<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataVisualizerApp.Properties.Settings.SensorDataConnectionString" connectionString="Data Source=10.1.55.174;Initial Catalog=SensorData;User ID=dlitdb" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      
    </assemblyBinding>
  </runtime>
</configuration>